/* .navItem:hover:after,  */
.navItem.active:after {
    width: 70%;
}
.navItem:hover, 
.navItem.active {
    color: #2e6d81;
    
}
.navItem::after {
    content: '';
    background: #FF7B29;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    transition: width ease-in-out .2s;
}